SERVER_IP=157.230.122.35
ACME_EMAIL=your-email@example.com

POSTGRES_PASSWORD=CHANGE_ME
KEYCLOAK_DB_PASSWORD=CHANGE_ME
KEYCLOAK_ADMIN_PASSWORD=CHANGE_ME
KEYCLOAK_ADMIN_CLIENT_SECRET=CHANGE_ME

OTLP_TRACING_ENABLED=false

SENDGRID_API_KEY=disabled
SENDGRID_FROM_EMAIL=noreply@markethub.local
SENDGRID_FROM_NAME=MarketHub
